---
layout: archive
---

<div>
  <h3>🌟&nbsp; 경력</h3>
</div>
<div>
  학력
</div>
<div>
  기술스택
</div>
<div>
  교육
</div>
<div>
  프로젝트
</div>
<div>
  수상
</div>
<div>
  또 다른 경험
</div>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
