---
layout: archive
---
<div>
    <div style="margin:auto; color: rgb(55, 53, 47); float: left;">
        <div style="margin-top:30px;">
            <div style="display: flex;">
                <div style="width: 150px;">
                    <img style="width: 100%; border-radius: 67px;" src="https://user-images.githubusercontent.com/111365376/219620859-e77edd23-2034-4c92-bc68-3d22fa88741e.jpg">
                </div>                
                <div style="display: grid; margin: 110px 0 0 70px; font-size: 15px; font-weight: bold;">
                    <div>📧 lu521ck@naver.com</div>
                    <a href="https://github.com/okwangdori/">
                        <div style="color: rgb(55, 53, 47)">📁 GitHub</div>
                    </a>
                </div>
            </div>
            <div style="display: grid; height: 130px; margin: 40px; font-size: 15px; font-weight: bold;">                    
                <div style="display: list-item;">성취에 대한 즐거움을 아는 개발자, 오지원입니다!</div>
                <div style="display: list-item;">다양한 환경에 도전하며 성장하는 습관을 기르고 있습니다.</div>
                <div style="display: list-item;">책임감을 더해 어디서든 빛나는 개발자가 되도록 노력하겠습니다.</div>
            </div>
            <h3>🙋‍♂&nbsp; 경력</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
            <div style="font-size: 14px;">
                <div>
                    <span style="font-weight: bold; color: #173b6c; font-size: 16px;">㈜비엠텍시스템</span><span style="margin-left: 30px; color: #8FBC8F; font-weight: bold;">응용소프트웨어 개발 (프론트엔드 개발)</span><span style="float: right; color: #868686;">2020.07 ~ 2022.06</span>     
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">ERP 업무 프로세스 개선</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2021.12~2022.05(6개월)</span>
                        <span style="margin: 5px 0 5px 0;">한국 중부 발전소 Winect기반의 APIM시스템 고도화 및 프로세스 개선</span>
                        <div>
                            <img src="https://img.shields.io/badge/Angular-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/TypeScript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Node.js-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/html5-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Scss-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/PostgreSQL-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/mysql-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/linux-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Docker-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Kubernetes-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">Winect Manager 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2021.04~2021.12(9개월)</span>
                        <span style="margin: 5px 0 5px 0;">API MANAGEMENT PLATFORM으로 Web GUI 환경을 통해 개발·관리할 수 있는 시스템</span>
                        <div>
                            <img src="https://img.shields.io/badge/Angular-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/TypeScript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Node.js-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/html5-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Scss-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/PostgreSQL-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Docker-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Kubernetes-6C8ED2?style=flat">
                        </div>                        
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">ERP 고도화 구축</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2020.12~2021.04(5개월)</span>
                        <span style="margin: 5px 0 5px 0;">한국 중부 발전소 SAP기반 ERP시스템을 Winect기반의 APIM시스템으로 전환</span>
                        <div>
                            <img src="https://img.shields.io/badge/Angular-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/TypeScript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Node.js-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/html5-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Scss-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/PostgreSQL-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/mysql-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/linux-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Docker-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Kubernetes-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">Winect Portal 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2020.07~2020.12(6개월)</span>
                        <span style="margin: 5px 0 5px 0;">API 사용·관리·제공 및 커뮤니케이션을 통해 APIM 사용 효율성을 높이기 위한 개발자 관리 포털 시스템</span>
                        <!-- 486AAE -->
                        <div>
                            <img src="https://img.shields.io/badge/Angular-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/TypeScript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Node.js-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/html5-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Scss-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/PostgreSQL-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Docker-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Kubernetes-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Git-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 120px; font-size: 14px;">
                <div>
                    <span style="font-weight: bold; color: #173b6c; font-size: 16px;">㈜엣데이터</span><span style="margin-left: 30px; color: #8FBC8F; font-weight: bold;">웹 개발</span><span style="float: right; color: #868686;">2017.09 ~ 2020.01</span>
                </div>        
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">TANGO Config 패턴 관리 시스템 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2019.08~2019.12(5개월)</span>
                        <span style="margin: 5px 0 5px 0;">IP Config파일에 존재하는 설정값을 패턴 Regex검색을 통해  비교분석하는 시스템</span>
                        <div>
                            <img src="https://img.shields.io/badge/Jquery-6C8ED2?style=flat"> 
                            <img src="https://img.shields.io/badge/Javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/html-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/css-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/myBatis-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Jenkins-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">TANGO 5G MAP 감시 시스템 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2018.12~2019.07(8개월)</span>
                        <span style="margin: 5px 0 5px 0;">전국에 있는 5G 통신 관련 장비 및 신호를 감시하는 시스템</span>
                        <div>
                            <img src="https://img.shields.io/badge/Jquery-6C8ED2?style=flat"> 
                            <img src="https://img.shields.io/badge/Javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/html-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/css-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Leaflet-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/myBatis-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Jenkins-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">TANGO 고장알람 통계 분석 시스템 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2018.08~2018.11(4개월)</span>
                        <span style="margin: 5px 0 5px 0;">지역별 고장알람에 대한 통계 분석 시스템</span>
                        <div>
                            <img src="https://img.shields.io/badge/Jquery-6C8ED2?style=flat"> 
                            <img src="https://img.shields.io/badge/Javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/html-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/css-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Apache POI-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/myBatis-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Jenkins-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">TANGO 3G/4G MAP 감시 시스템 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2018.01~2018.07(7개월)</span>
                        <span style="margin: 5px 0 5px 0;">전국에 있는 3G/4G 통신 관련 장비 및 신호를 감시하는 시스템 </span>
                        <div>
                            <img src="https://img.shields.io/badge/Jquery-6C8ED2?style=flat"> 
                            <img src="https://img.shields.io/badge/Javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/html-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/css-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Leaflet-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/myBatis-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Jenkins-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid;">
                    <span style="font-weight: bold; margin: 10px;">TANGO IP망 구성정보 점검 시스템 고도화</span>
                    <div style="display: grid; margin-left: 10px;">
                        <span style="color: #868686;">2017.09~2017.12(4개월)</span>
                        <span style="margin: 5px 0 5px 0;">IP망 내에있는 장비에 대한 모든 구성정보를 점검할 수 있는 시스템</span>
                        <div>
                            <img src="https://img.shields.io/badge/Jquery-6C8ED2?style=flat"> 
                            <img src="https://img.shields.io/badge/Javascript-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/html-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/css-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/HighChart-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/JAVA-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/Spring-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Oracle-6C8ED2?style=flat">
                            <img src="https://img.shields.io/badge/myBatis-6C8ED2?style=flat">  
                            <img src="https://img.shields.io/badge/Jenkins-6C8ED2?style=flat">
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div style="margin-top:100px;">
            <h3>💼&nbsp; 학력</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
            <div>
                <span style="font-weight: bold; color: #173b6c; font-size: 16px;">한신대학교</span><span style="float: right; color: #868686; font-size: 14px;">2010.03 ~ 2017.02</span>                
            </div>
            <div style="font-size: 14px; margin: 5px 0 5px 0;">
                <span> - 정보통신학과</span><span style="float: right;">3.49 / 4.5</span>
            </div>
        </div>
        <div style="margin-top:100px;">
            <h3>🛠️&nbsp; 기술스택</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
                <div>
                    <img src="https://img.shields.io/badge/react-61DAFB?style=flat&logo=react&logoColor=black">
                    <img src="https://img.shields.io/badge/Redux-764ABC?style=flat&logo=Redux&logoColor=white">
                    <img src="https://img.shields.io/badge/Angular-DD0031?style=flat&logo=Angular&logoColor=white">
                    <img src="https://img.shields.io/badge/TypeScript-3178C6?style=flat&logo=TypeScript&logoColor=white">
                    <img src="https://img.shields.io/badge/javascript-F7DF1E?style=flat&logo=javascript&logoColor=black">
                    <img src="https://img.shields.io/badge/jquery-0769AD?style=flat&logo=jquery&logoColor=white">  
                    <img src="https://img.shields.io/badge/html5-E34F26?style=flat&logo=html5&logoColor=white">
                    <img src="https://img.shields.io/badge/JAVA-007396?style=flat&logo=java&logoColor=white">
                    <img src="https://img.shields.io/badge/css3-1572B6?style=flat&logo=css3&logoColor=white">
                    <img src="https://img.shields.io/badge/Scss-CC6699?style=flat&logo=Sass&logoColor=white">
                    <img src="https://img.shields.io/badge/ESLint-4B32C3?style=flat&logo=ESLint&logoColor=white">
                    <img src="https://img.shields.io/badge/Node.js-339933?style=flat&logo=Node.js&logoColor=white">  
                    <img src="https://img.shields.io/badge/Express-000000?style=flat&logo=Express&logoColor=white">      
                    <img src="https://img.shields.io/badge/PostgreSQL-4169E1?style=flat&logo=PostgreSQL&logoColor=white">  
                    <img src="https://img.shields.io/badge/MongoDB-47A248?style=flat&logo=MongoDB&logoColor=white">    
                    <img src="https://img.shields.io/badge/Gradle-02303A?style=flat&logo=Gradle&logoColor=white">
                    <img src="https://img.shields.io/badge/linux-FCC624?style=flat&logo=linux&logoColor=black">
                    <img src="https://img.shields.io/badge/Spring-6DB33F?style=flat&logo=Spring&logoColor=white">  
                    <img src="https://img.shields.io/badge/oracle-F80000?style=flat&logo=oracle&logoColor=white">
                    <img src="https://img.shields.io/badge/mysql-4479A1?style=flat&logo=mysql&logoColor=white">      
                    <img src="https://img.shields.io/badge/bootstrap-7952B3?style=flat&logo=bootstrap&logoColor=white">    
                    <img src="https://img.shields.io/badge/apache tomcat-F8DC75?style=flat&logo=apachetomcat&logoColor=white">  
                    <img src="https://img.shields.io/badge/Jenkins-D24939?style=flat&logo=Jenkins&logoColor=white">
                    <img src="https://img.shields.io/badge/Docker-2496ED?style=flat&logo=Docker&logoColor=white">
                    <img src="https://img.shields.io/badge/Kubernetes-326CE5?style=flat&logo=Kubernetes&logoColor=white">
                    <img src="https://img.shields.io/badge/Vite-646CFF?style=flat&logo=Vite&logoColor=white">
                    <img src="https://img.shields.io/badge/Git-F05032?style=flat&logo=Git&logoColor=white">
                </div>
        </div>
        <div style="margin-top:100px;">
            <h3>📚&nbsp; 교육 및 연수</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
            <div style="margin-bottom: 30px;">
                <div>
                    <span style="font-weight: bold; color: #173b6c; font-size: 16px;">솔데스크</span><span style="float: right; color: #868686; font-size: 14px;">2016.11 ~ 2017.05</span>
                </div>
                <div style="font-size: 14px; display: grid;">
                    <span style="margin: 5px 0 5px 0;"> - 자바기반 사물인터넷 6개월 과정</span>
                    <div>
                        <img src="https://img.shields.io/badge/JAVA-007396?style=flat&logo=java&logoColor=white">
                        <img src="https://img.shields.io/badge/Database-2457BD?style=flat&logo=Database&logoColor=white">
                        <img src="https://img.shields.io/badge/html-E34F26?style=flat&logo=html&logoColor=white">
                        <img src="https://img.shields.io/badge/JSP-FF3636?style=flat&logo=JSP&logoColor=white">
                        <img src="https://img.shields.io/badge/Android-3DDC84?style=flat&logo=Android&logoColor=white">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <span style="font-weight: bold; color: #173b6c; font-size: 16px;">호주 해외연수</span><span style="float: right; color: #868686; font-size: 14px;">2015.02 ~ 2015.09</span>
                </div>
                <div style="font-size: 14px; display: grid;">
                    <span style="margin: 5px 0 5px 0;">- 워킹홀리데이</span>
                    <span>현지, 해외 사람들과 어울려 리조트 서비스 일을 했습니다.</span>
                </div>
            </div>
        </div>
        <div style="margin-top:100px;">
            <h3>💻&nbsp; 프로젝트</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
            <div style="margin-bottom: 30px;">
                <div style="text-align: center;">
                <a href="https://fordd-dev.netlify.app/">
                    <img style="width: 45%;" src="https://user-images.githubusercontent.com/111365376/219322734-323ef6ef-8da1-42ca-b3e1-6372575cc123.PNG">
                </a>
                </div>
                <div>
                    <span style="font-weight: bold; color: #173b6c; font-size: 16px;">4DD</span><span style="float: right; color: #868686; font-size: 14px;">2022.10 ~ 2023.02</span>
                </div>
                <div style="font-size: 14px; margin: 5px 0 5px 0;">
                    <span>- For Dreaming Developers : 취업을 위해 준비하는 개발자들을 위한 공간을 만들고 싶었습니다.</span>
                    <span>개발관련 지식 정보, 퀴즈, 면접 후기 등을 운영자는 물론, 사용자들도 개인의 지식이나 경험을 공유하여</span>
                    <span>서로에게 도움이 될 수 있는 개발자가 될 수 있도록 설계하였습니다.</span>                                        
                </div>
                <div style="margin-top: 10px;">
                    <img src="https://img.shields.io/badge/react-61DAFB?style=flat&logo=react&logoColor=black">
                    <img src="https://img.shields.io/badge/Redux-764ABC?style=flat&logo=Redux&logoColor=white">
                    <img src="https://img.shields.io/badge/TypeScript-3178C6?style=flat&logo=TypeScript&logoColor=white">
                    <img src="https://img.shields.io/badge/html5-E34F26?style=flat&logo=html5&logoColor=white">
                    <img src="https://img.shields.io/badge/Scss-CC6699?style=flat&logo=Sass&logoColor=white">
                    <img src="https://img.shields.io/badge/ESLint-4B32C3?style=flat&logo=ESLint&logoColor=white">
                    <img src="https://img.shields.io/badge/Node.js-339933?style=flat&logo=Node.js&logoColor=white">  
                    <img src="https://img.shields.io/badge/Express-000000?style=flat&logo=Express&logoColor=white">
                    <img src="https://img.shields.io/badge/MongoDB-47A248?style=flat&logo=MongoDB&logoColor=white">    
                    <img src="https://img.shields.io/badge/Gradle-02303A?style=flat&logo=Gradle&logoColor=white">
                    <img src="https://img.shields.io/badge/Vite-646CFF?style=flat&logo=Vite&logoColor=white">
                    <img src="https://img.shields.io/badge/Git-F05032?style=flat&logo=Git&logoColor=white">
                </div>
                <div style="margin-top: 15px;">
                    <img src="https://img.shields.io/badge/-2인%20프로젝트-brightgreen">
                </div>                                
            </div>
        </div>
        <div style="margin-top:100px;">
            <h3>🏆&nbsp; 자격증/어학/수상</h3>
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
            <div>
                <span style="font-weight: bold; color: #173b6c; font-size: 16px;">TOEIC Speaking Test</span><span style="float: right; color: #868686; font-size: 14px;">2020.02</span>
            </div>
            <div style="margin-bottom: 30px; font-size: 14px;">
                <span>- 어학시험</span>
            </div>
            <div>
                <span style="font-weight: bold; color: #173b6c; font-size: 16px;">정보처리기사</span><span style="float: right; color: #868686; font-size: 14px;">2017.05</span>
            </div>
            <div style="margin-bottom: 30px; font-size: 14px;">
                <span>- 한국산업인력공단 자격증</span>
            </div>
            <div>
                <span style="font-weight: bold; color: #173b6c; font-size: 16px;">졸업논문 공모전 장려상</span><span style="float: right; color: #868686; font-size: 14px;">2016.11</span>
            </div>
            <div style="margin-bottom: 30px; font-size: 14px;">
                <span>- 한신대학교 공모전</span>
            </div>
        </div>
        <!-- <div style="margin-top:100px;">
            <h3>🏃‍♂&nbsp; 또 다른 경험</h3>  
            <div style="width:100%;height:1px; border-bottom:1px solid rgba(55, 53, 47, 0.09); margin-bottom: 15px;"></div>
        </div> -->
    </div>
</div>





{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
